@charset "UTF-8";
    .container {
        margin-top: 80px;
    }
    table {
      width: 60%;
      text-align: center;
    }
    a {
        text-decoration: none;
    }
    th {
        height: 20px;
        text-align: center;
        background: lightgray;
    }
    td {

        height: 30px;
        background: lightblue;

    }
    .today {
        background: orange !important;
    }
    th:nth-of-type(1), td:nth-of-type(1) {
        color: red;
    }
    th:nth-of-type(7), td:nth-of-type(7) {
        color: blue;
    /* }
/* #check{
  background: lightblue;
} */
