@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body{
    background-image: url(/img/lenga.jpg);
    color: white;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 160px;
    margin: 0;
    font-family: monospace;
}

.neon_icon{
   font-size: 5rem;
   color: white;
   text-shadow:
    0 0 7px #fff,
    0 0 10px black,
    0 0 21px #FF0099,
    0 0 42px #FF0099,
    0 0 82px #FF0099,
    0 0 92px #FF0099,
    0 0 102px #FF0099,
    0 0 250px #FF0099,
    0 0 380px #FF0099;
}

/* body p {
  font-size: 15px;
  padding: 10px;
} */
section{
width: auto
}

li {
    list-style: none;
}
/* .border{
    border-bottom: 1px solid white;
    width: 200px;
} */


.lead-body {
    width: 100%;
    height: 640px;
}


input,
select{
    color: white;
    background-color: inherit;
}

.lead-wrapper {
    margin: 0 auto;
}

.lead-wrapper h1 {
  padding-top: 40px;
    padding-left: 100px;
    font-size: 40px;
    font-style: italic;
    color: #fff;
    margin-bottom: 40px;

    text-shadow:
      0 0 7px #fff,
      0 0 10px black,
      0 0 21px #FF0099,
      0 0 42px #FF0099,
      0 0 82px #FF0099,
      0 0 92px #FF0099,
      0 0 102px #FF0099,
      0 0 250px #FF0099,
      0 0 380px #FF0099;
}
.image-wrapper p{
  text-shadow:
    0 0 7px #fff,
    0 0 10px black,
    0 0 21px white,
    0 0 42px white;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}
.image-wrapper h2{
  font-style: italic;
  margin: 5px 0;
  text-shadow:
    0 0 7px #fff,
    0 0 10px black,
    0 0 21px #FDA802,
    0 0 42px #FDA802
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.image-wrapper{
  width: 70%;
  height: 400px;
  margin: 0 auto;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 3px solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    /* box-shadow:
      0 0 7px #fff,
      0 0 10px #FF0099,
      0 0 21px #FF0099,
      0 0 42px #FF0099,
      0 0 82px #FF0099,
      0 0 92px #FF0099 */
}
.image-wrapper::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.image-wrapper::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.image-wrapper:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        box-shadow: none;
    }
}
.bx-controls{
  display: none;
}
.photo-body{
  display: flex;
  padding-bottom: 40px;
  margin: 0 auto;
}
.mozi p{
  border-radius: 2rem;
  position   : absolute;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 100px;
  height     : 100px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : lightgreen;
  opacity: 0.2;
  }

  .slider{
  border-radius: 2rem;
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 400px;
  height     : 300px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;

  }
.slider img {
  border-radius: 2rem;

  position: absolute;
  display    : block;
                      /* 画像のサイズを表示エリアに合せる */
  height     : inherit;
  width: inherit;
  opacity    : 0;
  animation  : slideAnime 12s ease infinite;
  

}

 /*=== スライドのアニメーションを段差で開始する ========= */
.slider img:nth-of-type(1) { animation-delay: 0s }
.slider img:nth-of-type(2) { animation-delay: 3s }
.slider img:nth-of-type(3) { animation-delay: 6s }
.slider img:nth-of-type(4) { animation-delay: 9s }

 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
  0% { opacity: 0 }
  2% { opacity: 1 }
 23% { opacity: 1 }
 25% { opacity: 0 }
100% { opacity: 0 }
}
/* .slider img{
  width: 100%;
  border-radius: 2rem;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);

} */
.shisha-body {
    background-image: url(/img/shisha.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    background-color: #464646;
    text-shadow:
    0 0 7px black
}
.shisha-wrapper,
.casino-wrapper,
.menu-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: auto;
}

.shisha-wrapper li,
.casino-wrapper li,
.menu-wrapper li {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    padding: 2px;
}
.shisha-wrapper h1,
.casino-wrapper h1,
.menu-wrapper h1{
  padding: 4px;
 font-size:23px;
}
.casino-body {
    background-image: url(/img/casino.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 500px;
    background-color: #464646;
    text-shadow:
    0 0 7px black;
}
.menu-body {
    background-image: url(/img/menu.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;

    background-color: #464646;
    text-shadow:
    0 0 7px black;
}
.menu-wrapper h1{
  color: 	#CCFFFF;

}

/* フォームCSS */
.input_form {
    width: 70%;
    justify-content: center center;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 50px;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF0099,
    0 0 82px #FF0099 inset;
    border-radius: 15px;
}
.input_form h2{
    color: white;
    text-align: center;
    margin: 2em auto;
    padding-bottom: 15px;
    width: calc(100% - 2em);
    border-bottom: 2px solid #fff;
}

/* ボタン系CSS */
.buttons {
    justify-content: center center;
    display: flex ;
    flex-direction: row;
}
.btn_wrapper{
 display: flex;
 padding-top: 30px;
 width:100%;
}
.btn_wrapper button{
  width: 30%;
}
.btn1_wrapper{
  display: flex;
  flex-flow: column;
 padding-top: 30px;
}
.btn1{
  padding: 2px;
  margin: 2px;
  color: brack;
  background-color: white;
}
.btn1:hover{
  color: blue;
  background-color: #e6e6fa;
}
.btn{
  /* 青ボタンCSS */
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          margin-top: 30px;
          width : 120px ;
          height : 40px ;
          font-size : 15px ;
          border-radius : 12px ;
          color: white;
          background-color: inherit;
          box-shadow :
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 16px #0062FF inset,
          -0 -0 42px #0062FF,
          -0 -0 82px #0062FF;
}
.btn:hover{
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 13px #0062FF inset,
    0 0 21px #0062FF inset,
    0 0 26px #5D99FF inset;
    border: 1px solid #FFF !important;
  }


.pwreset{
  width: 200px;
}
.send{
  /* 青ボタンCSS */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          margin-top: 30px;
          width : 120px ;
          height : 40px ;
          font-size : 15px ;
          border-radius : 12px ;
          color: white;
          background-color: inherit;
          box-shadow :
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 16px #0062FF inset,
          -0 -0 42px #0062FF,
          -0 -0 82px #0062FF;
}
.send:hover{
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 13px #0062FF inset,
    0 0 21px #0062FF inset,
    0 0 26px #5D99FF inset;
    border: 1px solid #FFF !important;
    outline: 0;
}
.reserve_info{

}

/* 検索画面 */
.ajax{
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
}
.ajax .border{
    margin: 0 150px;
    font-size: 20px;
}



/* 会員ページCSS */
.member_top {
    display: flex;
    align-items: right;
}
.member_top li{
    margin: 20px;
}
.member_top{
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.member_top h2{
  font-size: 20px;
}
.member_top h4{
  font-size: 15px;
}
.member_top p{
  font-size: 25px;
  font-style: oblique;
  margin: 0 auto;
  padding-top: 60px;
}

.member_top h5{
  font-size: 18px;
  font-style: oblique;
}
.point{
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0062FF,
    0 0 82px #0062FF inset;
    border-radius: 15px;
    padding: 40px;
}

.member_code{
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF3300,
    0 0 82px #FF3300 inset;
    border-radius: 15px;
    padding: 40px;
}
.reserve_member{
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #39FF14,
    0 0 82px #39FF14 inset;
    border-radius: 15px;
    padding: 40px;
}
.member_data {
  padding-bottom: 50px;
}

.member_wrapper{
    width: 70%;
    justify-content: center center;
    margin: 0 auto;
    padding: 50px;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FFFF33,
    0 0 82px #FFFF33 inset;
    border-radius: 15px;
    padding: 30px;
}

.member_wrapper h3{
    color: white;
    font-weight: lighter;
    text-align: left;
    margin: .2em auto;
    border-bottom: 2px solid #fff;
}
.member_wrapper p{
    padding-left: 50px;
}


/* 入力フォーム */
form p{
  margin: 8px 0;
}
form h3{
  border-bottom: 1px solid white;
  margin: 8px 0;
  width: 90%;
}

#kana,
#mail,
#date,
#time,
#people,
#menu,
#birth,
#password,
#password1,
#getpoint{
      width: 80%; /*親要素いっぱい広げる*/
      padding: 10px 15px; /*ボックスを大きくする*/
      font-size: 16px;
      border-radius: 3px; /*ボックス角の丸み*/
      border: 1px solid #F7FCFE; /*枠線*/
      box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

#id_number{
    color: black;
    font-size: 16px;
    width: 100%; /*flexの中で100%広げる*/
    background-color: #ddd;
    border: none; /*枠線非表示*/
    outline: none; /*フォーカス時の枠線非表示*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}


#kana:hover,
#mail:hover,
#date:hover,
#time:hover,
#people:hover,
#menu:hover,
#birth:hover,
#password:hover,
#password1:hover,
#getpoint:hover{
      box-shadow:
       0 0 5px rgba(255,153,0,1),
       0 0 7px rgba(255,153,0,1),
       0 0 8px rgba(255,153,0,1);
      border: 1px solid #FFF !important;
      outline: 0;
}

.error-msg,
span {
    color: #D93A49;
}
.complete-wrapper a{
  margin: 8px 0;
}
.complete-other{
  padding-top: 20px;
  font-size: 15px;
}
.logout{
  padding: 50px 30px;
}


/* 管理者ページ */
.orner-wrapper{
    background-color: black;
    color: white;
    font-size: 25px;
    position: fixed;
  	top: 0;
  	left: 0;
    width: 100%;
    height: 90px;
  	margin: 0;
    font-family:monospace;
}

.orner-wrapper h1{
    margin: 30px 60px;
}
.reserch-wrapper{
    display: flex;
    width: 100%;
}
.reserch-wrapper form{
    display: flex;
    width: 100%;
}

.input_field{
    margin:  0 30px;
}

.search_bar{
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    height: 30px;
    width: 40%;
    background-color: #ddd;
    margin-right: 30px;
}

.search_icon{ /*アイコンに一定のスペースを設ける*/
    height: 15px;
    width: 15px;
    color: black;
    margin-left: 5px;
}
.ajax_wrapper{
    margin: 80px;
}
.other{
  display: column;
    padding-top: 50px;
    font-size: 15px;
    margin-bottom: 4px;
}

.back{
  /* リンク先の下線 */
  margin: 5px;
  padding: 4px 0;
 border-bottom: 2px solid #ffc0cb;
 flex-flow: column;
 transition: color 0.3s;

}
.back:hover{
 color: #dc143c;
}

.styled {
   width: 90px;
    border: 0;
    line-height: 2.0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background-color: #a9a9a9;
    background-image: linear-gradient(to top left, #808080, #808080 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: #808080;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.result_name{
}
.red {
    width: 180px;
    color: #fff;
    background-color: #FF97C2 !important;
    background-image: linear-gradient(to top left, #CC0033, #CC0033 30%, rgba(0, 0, 0, 0)) !important;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6) !important;
}
.red:hover {
    background-color: #FF0033;
}

.under_serch{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
